UnitTestProject/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64747/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64747/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64747/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataService" />
      <xsd:import schemaLocation="http://localhost:64747/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InitializeDataBase_InputMessage">
    <wsdl:part name="parameters" element="tns:InitializeDataBase" />
  </wsdl:message>
  <wsdl:message name="IService_InitializeDataBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeDataBaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EmailTaken_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailTaken" />
  </wsdl:message>
  <wsdl:message name="IService_EmailTaken_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailTakenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUsersOfEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersOfEvent" />
  </wsdl:message>
  <wsdl:message name="IService_GetUsersOfEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersOfEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserByPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByPassword" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserByPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetEventsOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsOwner" />
  </wsdl:message>
  <wsdl:message name="IService_GetEventsOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPosts" />
  </wsdl:message>
  <wsdl:message name="IService_GetPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPostByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostByID" />
  </wsdl:message>
  <wsdl:message name="IService_GetPostByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPostsByEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostsByEvent" />
  </wsdl:message>
  <wsdl:message name="IService_GetPostsByEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostsByEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreatePost_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePost" />
  </wsdl:message>
  <wsdl:message name="IService_CreatePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePostResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeletePost_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePost" />
  </wsdl:message>
  <wsdl:message name="IService_DeletePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePostResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdatePost_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePost" />
  </wsdl:message>
  <wsdl:message name="IService_UpdatePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePostResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="IService_GetEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetEventById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventById" />
  </wsdl:message>
  <wsdl:message name="IService_GetEventById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetEventsOfUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsOfUser" />
  </wsdl:message>
  <wsdl:message name="IService_GetEventsOfUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEvent" />
  </wsdl:message>
  <wsdl:message name="IService_CreateEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEvent" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEvent" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IsAttend_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAttend" />
  </wsdl:message>
  <wsdl:message name="IService_IsAttend_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAttendResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteAttend_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAttend" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteAttend_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAttendResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetComplexUsersOfEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComplexUsersOfEvent" />
  </wsdl:message>
  <wsdl:message name="IService_GetComplexUsersOfEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComplexUsersOfEventResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitializeDataBase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InitializeDataBase" message="tns:IService_InitializeDataBase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InitializeDataBaseResponse" message="tns:IService_InitializeDataBase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUsers" message="tns:IService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUsersResponse" message="tns:IService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailTaken">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EmailTaken" message="tns:IService_EmailTaken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EmailTakenResponse" message="tns:IService_EmailTaken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersOfEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUsersOfEvent" message="tns:IService_GetUsersOfEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUsersOfEventResponse" message="tns:IService_GetUsersOfEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserById" message="tns:IService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserByIdResponse" message="tns:IService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserByPassword" message="tns:IService_GetUserByPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserByPasswordResponse" message="tns:IService_GetUserByPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsOwner">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetEventsOwner" message="tns:IService_GetEventsOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetEventsOwnerResponse" message="tns:IService_GetEventsOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateUser" message="tns:IService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateUserResponse" message="tns:IService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteUser" message="tns:IService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteUserResponse" message="tns:IService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateUser" message="tns:IService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateUserResponse" message="tns:IService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPosts" message="tns:IService_GetPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPostsResponse" message="tns:IService_GetPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPostByID" message="tns:IService_GetPostByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPostByIDResponse" message="tns:IService_GetPostByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostsByEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPostsByEvent" message="tns:IService_GetPostsByEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPostsByEventResponse" message="tns:IService_GetPostsByEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreatePost" message="tns:IService_CreatePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreatePostResponse" message="tns:IService_CreatePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeletePost" message="tns:IService_DeletePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeletePostResponse" message="tns:IService_DeletePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdatePost" message="tns:IService_UpdatePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdatePostResponse" message="tns:IService_UpdatePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetEvents" message="tns:IService_GetEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetEventsResponse" message="tns:IService_GetEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetEventById" message="tns:IService_GetEventById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetEventByIdResponse" message="tns:IService_GetEventById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsOfUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetEventsOfUser" message="tns:IService_GetEventsOfUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetEventsOfUserResponse" message="tns:IService_GetEventsOfUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateEvent" message="tns:IService_CreateEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateEventResponse" message="tns:IService_CreateEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteEvent" message="tns:IService_DeleteEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteEventResponse" message="tns:IService_DeleteEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateEvent" message="tns:IService_UpdateEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateEventResponse" message="tns:IService_UpdateEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAttend">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsAttend" message="tns:IService_IsAttend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsAttendResponse" message="tns:IService_IsAttend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAttend">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteAttend" message="tns:IService_DeleteAttend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteAttendResponse" message="tns:IService_DeleteAttend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComplexUsersOfEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetComplexUsersOfEvent" message="tns:IService_GetComplexUsersOfEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetComplexUsersOfEventResponse" message="tns:IService_GetComplexUsersOfEvent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#WSHttpBinding_IService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeDataBase">
      <soap12:operation soapAction="http://tempuri.org/IService/InitializeDataBase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/IService/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailTaken">
      <soap12:operation soapAction="http://tempuri.org/IService/EmailTaken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersOfEvent">
      <soap12:operation soapAction="http://tempuri.org/IService/GetUsersOfEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap12:operation soapAction="http://tempuri.org/IService/GetUserById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByPassword">
      <soap12:operation soapAction="http://tempuri.org/IService/GetUserByPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsOwner">
      <soap12:operation soapAction="http://tempuri.org/IService/GetEventsOwner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://tempuri.org/IService/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/IService/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPosts">
      <soap12:operation soapAction="http://tempuri.org/IService/GetPosts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostByID">
      <soap12:operation soapAction="http://tempuri.org/IService/GetPostByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostsByEvent">
      <soap12:operation soapAction="http://tempuri.org/IService/GetPostsByEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePost">
      <soap12:operation soapAction="http://tempuri.org/IService/CreatePost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePost">
      <soap12:operation soapAction="http://tempuri.org/IService/DeletePost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePost">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdatePost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap12:operation soapAction="http://tempuri.org/IService/GetEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventById">
      <soap12:operation soapAction="http://tempuri.org/IService/GetEventById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsOfUser">
      <soap12:operation soapAction="http://tempuri.org/IService/GetEventsOfUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <soap12:operation soapAction="http://tempuri.org/IService/CreateEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <soap12:operation soapAction="http://tempuri.org/IService/DeleteEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAttend">
      <soap12:operation soapAction="http://tempuri.org/IService/IsAttend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAttend">
      <soap12:operation soapAction="http://tempuri.org/IService/DeleteAttend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComplexUsersOfEvent">
      <soap12:operation soapAction="http://tempuri.org/IService/GetComplexUsersOfEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="WSHttpBinding_IService" binding="tns:WSHttpBinding_IService">
      <soap12:address location="https://localhost:44337/Service.svc/SecureAccess" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:44337/Service.svc/SecureAccess</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>